{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
    <div class="alert alert-danger center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for message in app.flashes('message')%}
    <div class="error center">{{ message }}</div>
    {% endfor %}
    {% if app.user %}
    <div class="mb-3 center mat-2">
        <p>You are logged in as {{ app.user.username }}</p>
        <button class="btn btn-dark"> <a href="{{ path('app_logout') }}">Logout</a></button>

    </div>
    {% endif %}
    <div class="center mat-2">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="center d-flex column mab-2">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                autocomplete="email" required autofocus>
        </div>
        <div class="center d-flex column mab-2">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

        <button class="btn btn-dark" type="submit">
            Sign in
        </button>
    </div>
</form>
<div class="center mat-2">
    <p>No account ?</p>
<a href="{{path('app_register')}}">Register</a>
<p class="mat-1">
<a href="{{path('app_forgot_password_request')}}">Forgot password ?</a></p>
</div>
{% endblock %}