{% extends 'base.html.twig' %}

{% block title %}Add a new Trick !!{% endblock %}

{% block body %}

    <h1 class="center mab-2 mat-2">Add a new amazing trick !</h1>
<div class="center">{{ form_start(form) }}
    <div class="center d-flex column mab-2 mat-1">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    </div>
    <div class="center d-flex column mab-2 mat-1">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div class="center d-flex column mab-2 mat-1">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug) }}
    </div>
    <div class="center d-flex column mab-2 mat-1">
        {{ form_label(form.category) }}
        {{ form_widget(form.category) }}
    </div>
    {{ form_end(form) }}
</div>
       
{% endblock %}