{% extends 'base.html.twig' %}

{% block title %}Edit {{ trick.name }}!{% endblock %}

{% block body %}

    {% for message in app.flashes('message')%}
    <div class="error center">{{ message }}</div>
    {% endfor %}
    <h1 class="center mab-2 mat-2">Edit {{ trick.name }}</h1>
<div class="">{{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_end(form) }}
</div>
       
{% endblock %}