{% extends 'base.html.twig' %}

{% block title %}Welcome on SnowTrick website!{% endblock %}
{% block javascripts %}

{% endblock %}
{% block body %}
<div class="jumbotron" style="background-image: url('https://media.gettyimages.com/photos/snowboarder-jumping-through-air-with-deep-blue-sky-in-background-picture-id1092719712?s=2048x2048');">
    <h1 id="up" class="center">Snowboard tricks and more</h1>
    <a href="#bloctricks"><i class="fas fa-arrow-down" id="arrow"></i></a>
</div>
{% for message in app.flashes('success')%}
<div class="success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('error')%}
<div class="error">{{ message }}</div>
{% endfor %}
<h1 class="center mat-2">Some Tricks</h1>
<div class="mal-1 mat-2 tricksContainer" id="bloctricks">
    <div class="container">
        <div class="row row-cols-5 align-items-start justify-content-center">
            {% set nbTricks = 0 %}
            {% for trick in tricks %}
            <div class="col mab-1">
                <div class="card" style="width: 16rem;" id="trick{{nbTricks}}">
                    
                   
                      <img src="{{ trick.media }}"
                      class="card-img-top image_card" alt="..."> 

                    <div class="card-body">
                        <a href="trick/{{trick.slug}}">
                            <h5 class="card-title mar-1 ">{{ trick.name }}</h5>
                        </a>
                        {% if app.user and app.user.isVerified %}
                        <a href="/profil/edit/{{trick.id}}"><i class="fas fa-pencil-alt mar-1"></i></a>
                            <form method="post" action="{{ path('app_trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this amazing trick?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                <button class="fas"><i class="fas fa-trash-alt"></i></button>
                            </form>
                
                        {% endif %}
                    </div>
                </div>
            </div>
            {% set nbTricks = nbTricks + 1 %}
            {% endfor %}
        </div>
    </div>

    {#{% if nbAllTricks > nbTricks %}
    <a href="#up"><i class="fas fa-arrow-up"></i></a>
    {% endif %}#}
</div>
{% if allTricksQty > nbTricks %}
<div class="center">
    <a href="/?showTricks={{nbTricks}}#trick{{nbTricks}}" class="btn btn-dark">Load more</a>
</div>
<a href="#up"><i class="fas fa-arrow-up"></i></a>
{% endif %}
<script src="{{asset('js/arrowGeoffray.js')}}"></script>
{% endblock %}