{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}!{% endblock %}

{% block body %}
{% if medias %}
<main>
    <div class="jumbotron" style="background-image: url('{{ asset('/uploads/' ~ medias[0].filename) }}');">
        <h1 class="center">{{ trick.name }}</h1>

    </div>
    {% else %}
    <div class="jumbotron"
        style="background-image: url('https://media.gettyimages.com/photos/snowboarder-jumping-through-air-with-deep-blue-sky-in-background-picture-id1092719712?s=2048x2048');">
        <h1 class="center">{{ trick.name }}</h1>
    </div>
    {% endif %}
    {% for message in app.flashes('success')%}
    <div class="success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error')%}
    <div class="error">{{ message }}</div>
    {% endfor %}
    <section>
        <div>
            {% if medias %}
            <hero {% if medias[0].type == "image" %}
                style="background-image:url({{ asset('/uploads/' ~ medias[0].filename)}})" {% endif %}>
                {% if app.user and app.user.isVerified %}
                <a href="/profil/edit/{{trick.id}}"><i class="fas fa-pencil-alt mar-2"></i></a>

                <form method="post" action="{{ path('app_trick_delete', {'id': trick.id}) }}"
                    onsubmit="return confirm('Are you sure you want to delete this amazing trick?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                    <button class="fas"><i class="fas fa-trash-alt mr-2"></i></button>
                </form>
                {% endif %}

            </hero>
            {% endif %}
        </div>

        <div class="mediaContainer mat-2">
            {% for media in medias %}
            <a href="{{ asset('/uploads/' ~ media.filename)}}" class="thumbnail">
                {% if media.type == "image" %}
                <img src="{{ asset('/uploads/' ~ media.filename)}}" alt="Image 1" class="thumbnail" />
                {% else %}
                <video class="thumbnail">
                    <source src="{{ asset('/uploads/' ~ media.filename)}}" />
                </video>
                {% endif %}
            </a>
            {% endfor %}
            {% if trick.videoLink %}
            <iframe width="350" height="215" src="{{trick.videoLink}}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            {% endif %}
        </div>
        <p class="center mat-2">{{ trick.description }}</p>
        <div class="mediaContainer">
            <p>Catégorie : {{ category.name }}</p>
            <p>Crée le : {{ trick.createdAt|date('d.m.Y') }}</p>
            {% if trick.updateAt %}
            <p>modifier le : {{ trick.updateAt|date('d.m.Y')}}</p>
            {% endif %}
        </div>
        {% if app.user %}
        <hr>
        <div class="mab-2 center" id="addComment">
            {{form_start(form)}}
            {{form_widget(form.content)}}
            {{form_widget(form.submit)}}
            {{form_end(form)}}
        </div>
        {% endif %}
    </section>
    <hr>
    <section id="comments">
        <h2 class="center">Comments</h2>
        {% set nbComments = 0 %}
        {% for comment in comments %}
        {% if comment.parent == null %}
        <article id="comment{{nbComments}}">
            <img src="{{ asset('/uploads/' ~ comment.user.avatar)}}" alt="avatar" id="avatar" class="avatar">
            <span class="italic username">{{ comment.user.username }} said :</span>
            <span class="content">{{comment.content|raw}}</span>
            <span class="date">{{ comment.createdAt|date('d.m.Y')}}</span>
            <a href="#addComment" data-reply data-id="{{comment.id}}" class="btn btn-dark">Reply</a>

        </article>
        {% for reply in comment.reply %}
        <article class="replied">
            <img src="{{ asset('/uploads/' ~ reply.user.avatar)}}" alt="avatar" id="avatar" class="avatar">
            <span class="italic username">{{ reply.user.username }} replied : </span>
            <span class="content">{{reply.content|raw}}</span>
            <span class="date">{{ reply.createdAt|date('d.m.Y')}}</span>
        </article>
        {% endfor %}
        {% endif %}
        {% set nbComments = nbComments + 1 %}
        {% endfor %}
        {% if allCommentsQty > nbComments %}
        <div class="center">
            <a href="?showComments={{nbComments}}#comment{{nbComments}}" class="btn btn-dark">Load more</a>
        </div>
        {% endif %}
    </section>
</main>
{% block javascripts %}
<script>
    window.onload = () => {

        document.querySelectorAll("[data-reply]").forEach(element => {
            element.addEventListener("click", function () {
                document.querySelector("#comment_parentid").value = this.dataset.id;
            })
        })
    }
</script>
{% endblock %}
{% endblock %}