{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}!{% endblock %}

{% block body %}
{% if medias %}
<main>
    <div class="jumbotron" style="background-image: url('{{ asset('/uploads/' ~ medias[0].filename) }}');">
        <h1 class="center">{{ trick.name }}</h1>

    </div>
    {% else %}
    <div class="jumbotron"
        style="background-image: url('https://media.gettyimages.com/photos/snowboarder-jumping-through-air-with-deep-blue-sky-in-background-picture-id1092719712?s=2048x2048');">
        <h1 class="center">{{ trick.name }}</h1>
    </div>
{% endif %}
    <section>
        <div>
            {% if medias %}
            <hero 
                {% if medias[0].type == "image" %}
                style="background-image:url({{ asset('/uploads/' ~ medias[0].filename)}})"
                {% endif %}
            >
                {% if app.user and app.user.isVerified %}
                    <a href="/profil/edit/{{trick.id}}"><i class="fas fa-pencil-alt mar-2"></i></a>
                    
                    <form method="post" action="{{ path('app_trick_delete', {'id': trick.id}) }}"
                        onsubmit="return confirm('Are you sure you want to delete this amazing trick?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                        <button class="fas"><i class="fas fa-trash-alt mr-2"></i></button>
                    </form>
                {% endif %}
            </hero>
            {% endif %}
        </div>
        
        <div class="mediaContainer mat-2">   
            {% for media in medias %} 
                <a href="{{ asset('/uploads/' ~ media.filename)}}" class="thumbnail">
                    {% if media.type == "image" %}
                    <img src="{{ asset('/uploads/' ~ media.filename)}}" alt="Image 1"class="thumbnail" />
                    {% else %}
                    <video class="thumbnail">
                        <source src="{{ asset('/uploads/' ~ media.filename)}}" />
                    </video>
                    {% endif %}
                </a>
            
            {% endfor %}
        </div>
        <p class="center mat-2">{{ trick.description }}</p>
        <div class="mediaContainer">
            <p>Catégorie : {{ category.name }}</p>
            <p>Crée le : {{ trick.createdAt|date('d.m.Y') }}</p>
            {% if trick.updateAt %}
            <p>modifier le : {{ trick.updateAt|date('d.m.Y')}}</p>
     {% endif %}
        </div>
    </section>
</main>
{% endblock %}